/* documention css */

@media (min-width: 600px) {
  body {
      font-family: 'Titillium Web', sans-serif;
  }

  .headings {
    font-family: 'Amaranth', sans-serif;
  }

  .doc-section {
      margin-top: 50px;
      background: url(img/sombra.png) repeat center fixed;
      background-size: auto;
  }

  .box {
    margin: auto;
    width: 50%;
    border: 2px solid #70F8BA;
    padding: 15px;
    background-color: #ecf0f1;
  }

  .flex-container {
    display: flex;
  }

  .content {
    width: 100%;
  }
  .example {
    border: 1px solid #4A4E69;
    padding: 10px;
  }
}

.doc-section {
    margin-top: 50px;
}

.sombra {
  max-width: 1400px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.content {
  width: 100%;
}
.example {
  border: 1px solid #4A4E69;
  padding: 10px;
}
